// Navigation Styles here
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px dashed black;
    margin-top: 5%;

     nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        a {
            text-decoration: none;
        }
     }
}